images/
.DS_Store
scripts/output/
scripts/runs/
scripts/cached/
scripts/working-medium/
scripts/working_model/
scripts/drive-download-20230305T104125Z-001.zip
scripts/chat/output
scripts/chat/output.wav